* {
  box-sizing: border-box;
}

h1{
    text-align: center;
    padding: 32px;
  }

  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }



.column img {
  margin-top: 12px;
  width:100%;
  cursor:pointer;
}

body {
    margin: 0;
    font-family: Arial;
  }
  